<!-- <p>dashboard works!</p> -->
<div class="main">
    <div class="header">
        <div class="header-text-align">
            <div>
                <img src="../../../assets\logo.png">
            </div>
            <div>
                <span class="emp-text"><b>EMPLOYEE</b></span><br>
                <span class="pay-text"><b>PAYROLL</b></span>
            </div>
        </div>
    </div>

    <div class="emp-div">
        <div class="emp-text1">Employee Details</div>
        <div class="search-div"><img src="../../../assets\search_FILL0_wght400_GRAD0_opsz48.svg" class="search-icon"></div>
        <button class="add-btn" (click)="addEmployee()"><img src="../../../assets\add_FILL0_wght400_GRAD0_opsz48.svg" class="img">
            <div class="add-text">Add User</div>
        </button>
    </div>

    <table class="table">
        <thead >
            <tr>
                <th></th>
                <th scope="col">Name</th>
                <th scope="col">GENDER</th>
                <th scope="col">DEPARTMENT</th>
                <th scope="col">SALARY</th>
                <th scope="col">START DATE</th>
                <th scope="col">ACTIONS</th>
            </tr>
        </thead>
        <tbody class="table-body" >
            <tr  *ngFor="let data of dataList">
                <td>
                    <img class="profile" src={{data.profileImg}} alt="">
                </td>
                <td>{{data.name}}</td>
                <td>{{data.gender}}</td>
                <td>{{data.dept}}</td>
                <td>Rs.{{data.salary}}</td>
                <td>{{data.day}} {{data.month}} {{data.year}}</td>
                <td>
                    <img class="img-but" (click)="employeeDeleteData(data)" src="../../../assets\delete_FILL0_wght400_GRAD0_opsz48.svg">
                    <img class="img-but1" (click)="openDialog(data)" src="../../../assets\edit_FILL0_wght400_GRAD0_opsz48.svg">
                </td>
            </tr>

            
        </tbody>
    </table>
</div>